.header{
    background-color: #FFFFFF;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 40px);
    border-radius: 15px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.800rem 1.35rem;
}

.logo img{
    height: 32px;
    width: 134px;
    
}



.nav-center ul{
    gap: 2.5rem;
    display: flex;
    
}

.nav-center a,
.nav-user a{
    font-size: 1.25rem;
    color: #333333;
}

.nav-center a:hover,
.nav-user a:hover{
    color: blueviolet;
}

.nav-user ul{
    display: flex;
    gap: 2.5rem;
    align-items: center;

}

.nav-user img{
    height: 20px
}

.nav-user a:hover img{
    opacity: 0.7;
}


